# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest / Unit test / Coverage reports
.pytest_cache/
.coverage
.coverage.*
.cache

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs & System files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.log
